footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 110px;
    

    }


footer .footnombre{
    display: flex;
    padding-left: 20px;
    justify-content: right;
    align-items:center;
}
